Repository EttusResearch/meta-ettus: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/build-container.yml, .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

.ci/build-container.yml:
  schedules:
  - cron: 0 19 * * *
    displayName: Daily build
    branches:
      include:
      - zeus-ci
  jobs:
  - job: build_docker_image
    displayName: Build docker image
    timeoutInMinutes: 60
    pool:
      name: Drivers-NIBuildFarm-RFMIBUILD
      demands:
      - docker
      - Agent.OS -equals Linux
    steps:
  ...

.ci/x4xx-uhd-devtests.yml:
  pool:
    demands:
    - openembedded-test -equals $(System.JobName)
  jobs:
  - job: test
    strategy:
      matrix: $[ variables.Devices ]
    workspace:
      clean: all
    steps:
    - checkout: self
    - template: templates/steps_generate_opkg_conf.yml
      parameters:
  ...

.ci/x4xx-uhd-test.yml:
  pool:
    name: de-dre-lab
    demands:
    - openembedded-test -equals $(System.JobName)
  jobs:
  - job: test
    strategy:
      matrix: $[ variables.Devices ]
    workspace:
      clean: all
    steps:
    - checkout: self
    - download: x4xx-uhddev-oe-build-artifacts
      artifact: x4xx-ipks
  ...

ci: Always generate sources
  .ci/templates/job_build_filesystem.yml
  .ci/usrp-filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

ci: Run uhd ctest results and publish
  .ci/templates/job_build_filesystem.yml
  meta-ettus-core/classes/run_tests.bbclass
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

contrib: read mender file via serial
  contrib/test/usrp_emb/usrp_emb/linux.py
  contrib/test/usrp_emb/usrp_emb/test_x4xx.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: update to use https for github repos
  meta-ettus-core/recipes-devtools/python/python3-nifpga_git.bb
  meta-ettus-core/recipes-devtools/python/python3-pika_git.bb
  meta-ettus-core/recipes-devtools/python/python3-pytest-salt_2017.7.0.bb
  meta-ettus-core/recipes-support/gr-ettus/gr-ettus_git.bbappend
  meta-ettus-core/recipes-support/libnifpga/libnifpga_git.bb
  meta-ettus-core/recipes-support/rng-tools/rng-tools_6.9.bb
  meta-ettus-core/recipes-support/salt/files/master
  meta-ettus-core/recipes-support/uhd/uhd_3.15_src.inc
  meta-ettus-core/recipes-support/uhd/uhd_4.0_src.inc
  meta-ettus-core/recipes-support/uhd/uhd_4.1_src.inc
  meta-titanium/recipes-devtools/chromium-ec-utils/chromium-ec-utils.bbappend
  meta-titanium/recipes-standalone/chromium-ec/chromium-ec.bbappend
Due: none

ci: Remove x4xx specific pipelines
  .ci/templates/job_build_package.yml
  .ci/templates/steps_run_rio_test.yml
  .ci/templates/steps_run_usrp2_c_test.yml
  .ci/x4xx-filesystem-test.yml
  .ci/x4xx-filesystem.yml
  kas/internal.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: override SRC_URI to main
  meta-ettus-core/recipes-kernel/linux-firmware/linux-firmware_%.bbappend
Due: none

ci: increase shutdown timeout for x4xx
  contrib/test/usrp_emb/usrp_emb/linux.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

contrib: accept EOF as shutdown
  contrib/test/usrp_emb/usrp_emb/linux.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

contrib: Set nobmap option
  contrib/test/usrp_emb/usrp_emb/linux.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

ci: support calling from uhd mono pipeline
  .ci/templates/job_build_filesystem.yml
  .ci/templates/oe_localconf_externalsrc.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

contrib: usrp_emb: print log messages of "Update CPLD" step
  contrib/test/usrp_emb/usrp_emb/linux.py
  contrib/test/usrp_emb/usrp_emb/test_x4xx.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

ci: build kas container weekly
  .ci/build-container.yml
Due: .ci/build-container.yml, .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: Add manufacturing image
  meta-e31x/conf/machine/ni-e31x.inc
  meta-ettus-core/recipes-core/images/manufacturing-image.bb
  meta-neon/conf/machine/ni-neon.inc
  meta-sulfur/conf/machine/ni-sulfur.inc
Due: none

meta-ettus: add support for Lattice XO3LF cpld
  meta-ettus-core/recipes-devtools/openocd/files/0001-tcl-fpga-add-config-file-for-Lattice-XO3LF-fpga.patch
  meta-ettus-core/recipes-devtools/openocd/openocd_git.bbappend
Due: none

meta-titanium: recipes-support: add xo3lf cpld images
  meta-titanium/recipes-support/uhd/uhd-cpld-images.bb
Due: none

meta-e31x: Enable tftp port selection
  meta-e31x/recipes-bsp/u-boot/files/0004-configs-ni_e31x-Add-tftp-port-selection.patch
  meta-e31x/recipes-bsp/u-boot/u-boot_2019.07.inc
  meta-mender-e31x/recipes-bsp/u-boot/files/0001-ni-zynq-Mender.io-support-for-NI-Ettus-Research-E31x.patch
Due: none

contrib: increase reboot wait interval
  contrib/test/usrp_emb/usrp_emb/linux.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

sulfur: Update firmware to resolve apshutdown
  meta-sulfur/recipes-kernel/linux-firmware/files/ec-sulfur-rev10.RW.bin
  meta-sulfur/recipes-kernel/linux-firmware/files/ec-sulfur-rev10.bin
  meta-sulfur/recipes-kernel/linux-firmware/files/ec-sulfur-rev5.RW.bin
  meta-sulfur/recipes-kernel/linux-firmware/files/ec-sulfur-rev5.bin
  meta-sulfur/recipes-kernel/linux-firmware/linux-firmware_%.bbappend
Due: none

meta-sulfur: Enable tftp port selection
  meta-mender-sulfur/recipes-bsp/u-boot/files/0001-ni-zynq-Mender.io-support-for-NI-Ettus-Research-Sulf.patch
  meta-sulfur/recipes-bsp/u-boot/files/0002-configs-ni_sulfur_rev3-Add-tftp-port-selection.patch
  meta-sulfur/recipes-bsp/u-boot/u-boot_2019.07.inc
Due: none

meta-neon: Enable tftp port selection
  meta-mender-neon/recipes-bsp/u-boot/files/0002-ni-zynq-Mender.io-support-for-NI-Ettus-Research-Neon.patch
  meta-neon/recipes-bsp/u-boot/files/0004-ni-zynq-Add-tftp-port-selection.patch
  meta-neon/recipes-bsp/u-boot/u-boot_2019.07.inc
Due: none

meta-ettus: Update commit to UHD 4.2.0.1-rc1
  meta-ettus-core/recipes-support/uhd/uhd_4.2_src.inc
Due: none

Update README.md to correct a few typos.
  README.md
Due: none

contrib: Fix e310_sg3 sources name
  contrib/create_packages.sh
Due: none

meta-ettus: Update commit to UHD 4.2.0.1 release
  meta-ettus-core/recipes-support/uhd/uhd_4.2_src.inc
Due: none

meta-ettus: Update commit to UHD 4.1.0.6-rc2
  meta-ettus-core/recipes-support/uhd/uhd_4.1_src.inc
Due: none

ci: Remove single_drive
  .ci/templates/job_build_filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: git ignore build and .DS_store
  .gitignore
Due: none

meta-ettus: Update to uhd v4.3.0.0-rc1
  meta-alchemy/conf/distro/Alchemy.conf
  meta-ettus-core/recipes-support/uhd/mpmd_4.3.bb
  meta-ettus-core/recipes-support/uhd/uhd-fpga-images_4.3.bb
  meta-ettus-core/recipes-support/uhd/uhd_4.3.bb
  meta-ettus-core/recipes-support/uhd/uhd_4.3_src.inc
Due: none

meta-ettus: Update to uhd v4.3.0.0-rc2
  meta-ettus-core/recipes-support/uhd/uhd_4.3_src.inc
Due: none

meta-ettus: Update to uhd v4.3.0.0
  meta-ettus-core/recipes-support/uhd/uhd_4.3_src.inc
Due: none

meta-ettus: Update commit to UHD 4.1.0.6 release
  meta-ettus-core/recipes-support/uhd/uhd_4.1_src.inc
Due: none

ci: update docker repo location
  .ci/build-container.yml
  .ci/templates/job_build_filesystem.yml
Due: .ci/build-container.yml, .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: Update to uhd v4.4.0.0-rc1
  meta-alchemy/conf/distro/Alchemy.conf
  meta-ettus-core/recipes-support/uhd/mpmd_4.4.bb
  meta-ettus-core/recipes-support/uhd/uhd-fpga-images_4.4.bb
  meta-ettus-core/recipes-support/uhd/uhd_4.4.bb
  meta-ettus-core/recipes-support/uhd/uhd_4.4_src.inc
Due: none

meta-ettus: Update to uhd v4.4.0.0
  meta-ettus-core/recipes-support/uhd/uhd_4.4_src.inc
Due: none

ci: update docker service connection
  .ci/build-container.yml
  .ci/templates/job_build_filesystem.yml
Due: .ci/build-container.yml, .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: Update commit to UHD 4.1.0.7-rc1
  meta-ettus-core/recipes-support/uhd/uhd_4.1_src.inc
Due: none

ci: Extend the filesystem build timeout
  .ci/templates/job_build_filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

ci: use a specific usrp-kas branch for filesystem builds
  .ci/usrp-filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus: Update commit to UHD 4.1.0.7
  meta-ettus-core/recipes-support/uhd/uhd_4.1_src.inc
Due: none

Path conditions:
  .ci/build-container.yml: any of: .ci/build-container.yml
  .ci/x4xx-uhd-devtests.yml: any of: .ci, contrib/test
  .ci/x4xx-uhd-test.yml: any of: .ci, contrib/test
