Repository EttusResearch/meta-ettus: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/build-container.yml, .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

Path conditions:
  .ci/build-container.yml: any of: .ci/build-container.yml
  .ci/x4xx-uhd-devtests.yml: any of: .ci, contrib/test
  .ci/x4xx-uhd-test.yml: any of: .ci, contrib/test

contrib: usrp_emb: unmount partitions before writing image
  contrib/test/usrp_emb/usrp_emb/linux.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus-bsp: kernel: enable SPI bitbanging
  meta-ettus-bsp/recipes-kernel/linux/linux-x4xx/x410_defconfig
  meta-ettus-bsp/recipes-kernel/linux/linux-yocto-5.2/ni-common/core.cfg
Due: none

meta-ettus-bsp: use arm-trusted-firmware 2.6-xilinx-v2022.2
  meta-ettus-bsp/conf/machine/ni-titanium.inc
  meta-ettus-bsp/recipes-bsp/arm-trusted-firmware/arm-trusted-firmware_2.6-xilinx-v2022.2.bb
Due: none

meta-ettus-core: mpmd: added patch for compatibility with gpiod
  meta-ettus-core/recipes-support/uhd/files/0002-mpm-adopt-sys_utils.gpio-to-gpiod-version-2.0.2.patch
Due: none

REMOVEME: ci: deactivate step "Update CPLD"
  .ci/templates/usrp_emb_flash.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus-core: mpmd: added patch for using pyroute2 version >= 0.7.0
  meta-ettus-core/recipes-support/uhd/files/0001-mpm-rfdc-applied-patch-to-fix-C-compilation-issue.patch
  meta-ettus-core/recipes-support/uhd/files/0002-mpm-adopt-sys_utils.gpio-to-gpiod-version-2.0.2.patch
  meta-ettus-core/recipes-support/uhd/files/0003-mpm-sys_utils-linting.patch
  meta-ettus-core/recipes-support/uhd/files/0004-mpm-adopt-sys_utils.net-to-pyroute2-version-0.7.0.patch
  meta-ettus-core/recipes-support/uhd/mpmd_4.9.bb
Due: none

meta-alchemy: remove python3-packageconfig for libgpiod
  meta-alchemy/conf/distro/Alchemy.conf
Due: none

meta-ettus-core: add recipe mender-is-mender-update
  meta-ettus-core/conf/layer.conf
  meta-ettus-core/dynamic-layers/meta-mender-core/recipes-mender/mender/mender-is-mender-update_1.0.bb
Due: none

meta-mender-*: install package mender-is-mender-update
  meta-mender-e31x/conf/machine/ni-e31x-mender.inc
  meta-mender-neon/conf/machine/ni-neon-mender.inc
  meta-mender-sulfur/conf/machine/ni-sulfur-mender.inc
  meta-mender-titanium/conf/machine/ni-titanium-mender.inc
Due: none

meta-ettus-core: salt: add patch to fix import of ssl_match_hostname
  meta-ettus-core/recipes-support/salt/files/0002-import-urllib3.util.ssl_match_hostname.patch
  meta-ettus-core/recipes-support/salt/salt_3005.5.bb
Due: none

contrib: test: correct the expected gnuradio version
  contrib/test/tests/test_usrp.py
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-mender-*: deactivate mender services per default
  meta-mender-e31x/recipes-mender/mender/mender_%.bbappend
  meta-mender-neon/recipes-mender/mender/mender_%.bbappend
  meta-mender-sulfur/recipes-mender/mender/mender_%.bbappend
  meta-mender-titanium/recipes-mender/mender/mender_%.bbappend
Due: none

meta-ettus-core: add libgpiod-tools to installed packages
  meta-ettus-core/recipes-core/images/default-packages.inc
Due: none

meta-ettus-core: update python3-gpiod to version 2.2.2
  meta-ettus-core/recipes-devtools/python/python3-gpiod/0001-pyproject.toml-use-license.text-for-specifying-the-l.patch
  meta-ettus-core/recipes-devtools/python/python3-gpiod/run-ptest
  meta-ettus-core/recipes-devtools/python/python3-gpiod_2.4.0.bb
Due: none

ci: Add additional job to handle sbom conversion and internal tracking upload
  .ci/templates/job_build_filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

ci: Add step template to use NI internal sbom management tools
  .ci/scripts/extract_component_version_from_manifest.py
  .ci/templates/steps-sbom-convert-spdx.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

ci: set default branches to scarthgap
  .ci/build-container.yml
  .ci/templates/job_build_filesystem.yml
  .ci/usrp-filesystem.yml
Due: .ci/build-container.yml, .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

kas: adopt paths to work with kas 4.8.2
  kas/configs-mender/e310_sg1.yml
  kas/configs-mender/e310_sg3.yml
  kas/configs-mender/e320.yml
  kas/configs-mender/n3xx.yml
  kas/configs-mender/x4xx.yml
  kas/configs-standard/e310_sg1.yml
  kas/configs-standard/e310_sg3.yml
  kas/configs-standard/e320.yml
  kas/configs-standard/n3xx.yml
  kas/configs-standard/x4xx.yml
  kas/include/base-mender.yml
  kas/include/base-standard.yml
  kas/include/meta-ettus-bsp.yml
  kas/include/meta-ettus-core.yml
Due: none

ci: use kas 4.8.2 container
  .ci/Dockerfile
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus-bsp: added linux-usrp_6.12.bb
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp_6.12.bb
Due: none

meta-mender-neon: fix u-boot patches
  meta-mender-neon/recipes-bsp/u-boot/u-boot-2019.07-common-neon.inc
Due: none

FIXME: deleted .bb/.bbappend files to get 320 compiling
  meta-ettus-bsp/recipes-bsp/arm-trusted-firmware/arm-trusted-firmware_2.6-xilinx-v2022.2.bb
  meta-neon/recipes-standalone/chromium-ec/chromium-ec.bbappend
Due: none

meta-ettus-bsp: use linux-usrp for e31x/neon/sulfur
  meta-ettus-bsp/conf/machine/ni-e31x-sg1.conf
  meta-ettus-bsp/conf/machine/ni-neon-rev1.conf
  meta-ettus-bsp/conf/machine/ni-neon-rev2.conf
  meta-ettus-bsp/conf/machine/ni-sulfur-rev3.conf
  meta-ettus-bsp/conf/machine/ni-sulfur-rev4.conf
  meta-ettus-bsp/conf/machine/ni-sulfur-rev5.conf
  meta-ettus-bsp/conf/machine/ni-sulfur-rev6.conf
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp_6.12.bb
Due: none

TEMPORARY: disable building chromium-ec for ni-neon
  .ci/templates/job_build_filesystem.yml
  kas/configs-mender/e320.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

kas: correct configs
  kas/configs-mender/e310_sg1.yml
  kas/configs-mender/e310_sg3.yml
  kas/configs-mender/e320.yml
  kas/configs-mender/n3xx.yml
  kas/configs-mender/qemux86_64.yml
  kas/configs-mender/x4xx.yml
  kas/configs-poky/beaglebone-yocto.yml
  kas/configs-poky/e310_sg1.yml
  kas/configs-poky/e310_sg3.yml
  kas/configs-poky/e320.yml
  kas/configs-poky/n3xx.yml
  kas/configs-poky/pocketbeagle.yml
  kas/configs-standard/e310_sg1.yml
  kas/configs-standard/e310_sg3.yml
  kas/configs-standard/e320.yml
  kas/configs-standard/n3xx.yml
  kas/configs-standard/qemuarm.yml
  kas/configs-standard/qemuarm64.yml
  kas/configs-standard/x4xx.yml
  kas/include/base-mender.yml
  kas/include/base-standard.yml
  kas/include/meta-ettus-bsp.yml
  kas/include/meta-ettus-core.yml
Due: none

CHECK: remove usrp-filesystem-pipeline resource
  .ci/templates/job_filesystem_embedded_test.yml
  .ci/usrp-filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

meta-ettus-bsp: set preferred kernel to linux-usrp
  meta-ettus-bsp/conf/machine/ni-zynq.inc
  meta-ettus-bsp/conf/machine/ni-zynqmp.inc
Due: none

ci: use usrp-v6.12 branch when building using "Override linux source"
  .ci/usrp-filesystem.yml
Due: .ci/x4xx-uhd-devtests.yml, .ci/x4xx-uhd-test.yml

fixup! meta-ettus-bsp: use linux-usrp for e31x/neon/sulfur
  meta-ettus-bsp/conf/machine/ni-e31x-sg3.conf
Due: none

meta-ettus-bsp: machine conf: correct boot files
  meta-ettus-bsp/conf/machine/ni-e31x.inc
  meta-ettus-bsp/conf/machine/ni-neon.inc
  meta-ettus-bsp/conf/machine/ni-sulfur.inc
  meta-ettus-bsp/conf/machine/ni-titanium.inc
Due: none

meta-ettus-core: fix mpmd compilation for ni-sulfur
  meta-ettus-core/recipes-support/uhd/files/0005-mpm-include-missing-header-in-mykonos-lib.patch
  meta-ettus-core/recipes-support/uhd/mpmd_4.9.bb
Due: none

fixup! TEMPORARY: disable building chromium-ec for ni-neon
  kas/configs-standard/e320.yml
Due: none

meta-sulfur: mpmd: fixes for scarthgap
  meta-sulfur/recipes-support/uhd/mpmd_%.bbappend
Due: none

Revert "meta-ettus-bsp: use fitImage conf as in previous release"
  meta-ettus-bsp/conf/machine/ni-e31x.inc
  meta-ettus-bsp/conf/machine/ni-neon.inc
  meta-ettus-bsp/conf/machine/ni-sulfur.inc
  meta-ettus-bsp/conf/machine/ni-titanium.inc
Due: none

meta-ettus-bsp: u-boot: fix reading EEPROM
  meta-ettus-bsp/recipes-bsp/u-boot/files/ni-e31x/0001-ni-zynq-Add-support-for-NI-E31x-SG1-SG3-boards.patch
  meta-ettus-bsp/recipes-bsp/u-boot/files/ni-e31x/0002-configs-ni_e31x_sg-1-3-Added-network-commands-dhcp-t.patch
  meta-ettus-bsp/recipes-bsp/u-boot/files/ni-neon/0001-ni-zynq-Add-support-for-NI-Project-Neon-Rev1-SDR.patch
  meta-ettus-bsp/recipes-bsp/u-boot/files/ni-neon/0001-ni-zynq-Add-support-for-NI-Project-Neon-Rev2-SDR.patch
  meta-ettus-bsp/recipes-bsp/u-boot/files/ni-neon/0002-ni-zynq-Added-network-commands-dhcp-tftpboot.patch
  meta-ettus-bsp/recipes-bsp/u-boot/files/ni-sulfur/0001-ni-zynq-Add-support-for-NI-Ettus-Research-Project-Su.patch
Due: none

meta-ettus-bsp: linux-usrp: add netfilter+sound kernel drivers
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp/netfilter_minimal.cfg
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp/sound.cfg
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp_6.12.bb
Due: none

mpmd: added patch to fix I2C issues
  meta-ettus-core/recipes-support/uhd/files/0006-mpm-sys_utils.i2c_dev-rework-e.g.-don-t-rely-on-i2c-.patch
  meta-ettus-core/recipes-support/uhd/mpmd_4.9.bb
Due: none

mpmd: add patch to fix n3xx eeprom tools
  meta-ettus-core/recipes-support/uhd/files/0006-mpm-sys_utils.i2c_dev-rework-e.g.-don-t-rely-on-i2c-.patch
  meta-ettus-core/recipes-support/uhd/files/0007-mpm-n3xx-adopt-nvmem-paths-in-eeprom-tools.patch
  meta-ettus-core/recipes-support/uhd/mpmd_4.9.bb
Due: none

meta-ettus-bsp: linux-usrp: add nftables
  meta-ettus-core/recipes-support/uhd/mpmd.inc
Due: none

Revert "meta-ettus-bsp: linux-usrp: add netfilter+sound kernel drivers"
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp/netfilter_minimal.cfg
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp/sound.cfg
  meta-ettus-bsp/recipes-kernel/linux/linux-usrp_6.12.bb
Due: none
